<div class="visible-xs visible-sm">
   <select class="form-control" onchange="if (this.value) window.location.href=this.value">
      <option value="">เลือกเอกสาร...</option>
      <optgroup label="เรียนรู้ภาษาไอริน">
         <option value="/เอกสาร/เริ่มต้น">เริ่มต้น</option>
         <option value="/เอกสาร/ติดตั้ง">การติดตั้ง</option>
         <option value="/เอกสาร/การเยื้อง">การเยื้อง</option>
         <option value="/เอกสาร/คำถามหลายคำตอบ">คำถามหลายคำตอบ</option>
         <option value="/เอกสาร/ความต่อเนื่อง">ความต่อเนื่อง</option>
         <option value="/เอกสาร/ความคิดเห็น">ความคิดเห็น</option>
         <option value="/เอกสาร/บนลงล่าง">บนลงล่าง</option>
         <option value="/เอกสาร/นิพจน์">นิพจน์</option>
         <option value="/เอกสาร/ส่วนหัว">ส่วนหัว</option>
         <option value="/เอกสาร/เข้าถึงตัวแปร">เข้าถึงตัวแปร</option>
         <option value="/เอกสาร/เปลี่ยนค่าตัวแปร">เปลี่ยนค่าตัวแปร</option>
         <option value="/เอกสาร/หัวข้อเรื่อง">หัวข้อเรื่อง</option>
         <option value="/เอกสาร/เงื่อนไขในบรรทัด">เงื่อนไขในบรรทัด</option>
      </optgroup>
      <optgroup label="ตัวแปลภาษา">
         <option value="/เอกสาร/การใช้งาน">การใช้งาน</option>
         <option value="/เอกสาร/ข้อผิดพลาด">ข้อผิดพลาด</option>
      </optgroup>
   </select>
</div>
