<h3>เรียนรู้ภาษาไอริน</h3>
<ul style="padding-left: 2rem;line-height: 2.5rem;font-size: 1.6rem;">
  <li><a href="/เอกสาร/เริ่มต้น">เริ่มต้น</a></li>
  <li><a href="/เอกสาร/ติดตั้ง">การติดตั้ง</a></li>
  <li><a href="/เอกสาร/การเยื้อง">การเยื้อง</a></li>
  <li><a href="/เอกสาร/คำถามหลายคำตอบ">คำถามหลายคำตอบ</a></li>
  <li><a href="/เอกสาร/ความต่อเนื่อง">ความต่อเนื่อง</a></li>
  <li><a href="/เอกสาร/ความคิดเห็น">ความคิดเห็น</a></li>
  <li><a href="/เอกสาร/บนลงล่าง">บนลงล่าง</a></li>
  <li><a href="/เอกสาร/นิพจน์">นิพจน์</a></li>
  <li><a href="/เอกสาร/ส่วนหัว">ส่วนหัว</a></li>
  <li><a href="/เอกสาร/เข้าถึงตัวแปร">การเข้าถึงตัวแปร</a></li>
  <li><a href="/เอกสาร/เปลี่ยนค่าตัวแปร">การเปลี่ยนค่าตัวแปร</a></li>
  <li><a href="/เอกสาร/หัวข้อเรื่อง">หัวข้อเรื่อง</a></li>
  <li><a href="/เอกสาร/เงื่อนไขในบรรทัด">เงื่อนไขในบรรทัด</a></li>
</ul>
<h3>ตัวแปลภาษา</h3>
<ul style="padding-left: 2rem;line-height: 2.5rem;font-size: 1.6rem;">
  <li><a href="/เอกสาร/การใช้งาน">การใช้งาน</a></li>
  <li><a href="/เอกสาร/ข้อผิดพลาด">ข้อผิดพลาด</a></li>
</ul>
